{:highlights [{:id #uuid "68f7613e-597c-4971-beb9-341f996486b5",
               :page 8,
               :position {:bounding {:x1 95.109375,
                                     :y1 412.28125,
                                     :x2 261.60107421875,
                                     :y2 428.28125,
                                     :width 790.0391208053691,
                                     :height 1117.3406005201343},
                          :rects ({:x1 95.109375,
                                   :y1 412.28125,
                                   :x2 261.60107421875,
                                   :y2 428.28125,
                                   :width 790.0391208053691,
                                   :height 1117.3406005201343}),
                          :page 8},
               :content {:text "KULTÚRNE A LUXUSNÉ"},
               :properties {:color "yellow"}}
              {:id #uuid "68f76158-a9d1-4dca-a416-92af1a3ef976",
               :page 8,
               :position {:bounding {:x1 95.109375,
                                     :y1 374.296875,
                                     :x2 270.00079345703125,
                                     :y2 390.296875,
                                     :width 790.0391208053691,
                                     :height 1117.3406005201343},
                          :rects ({:x1 95.109375,
                                   :y1 374.296875,
                                   :x2 270.00079345703125,
                                   :y2 390.296875,
                                   :width 790.0391208053691,
                                   :height 1117.3406005201343}),
                          :page 8},
               :content {:text "ŽIVOTNE NEVYHNUTNÉ"},
               :properties {:color "yellow"}}
              {:id #uuid "68f76168-43c9-45f5-b207-13b486367849",
               :page 8,
               :position {:bounding {:x1 350.046875,
                                     :y1 348.71875,
                                     :x2 467.1769714355469,
                                     :y2 364.71875,
                                     :width 790.0391208053691,
                                     :height 1117.3406005201343},
                          :rects ({:x1 350.046875,
                                   :y1 348.71875,
                                   :x2 467.1769714355469,
                                   :y2 364.71875,
                                   :width 790.0391208053691,
                                   :height 1117.3406005201343}),
                          :page 8},
               :content {:text "Podľa naliehavosti"},
               :properties {:color "yellow"}}
              {:id #uuid "68f76183-e6b3-496c-8516-a47c6b694ffd",
               :page 8,
               :position {:bounding {:x1 72.828125,
                                     :y1 469.921875,
                                     :x2 261.58660888671875,
                                     :y2 485.921875,
                                     :width 790.0391208053691,
                                     :height 1117.3406005201343},
                          :rects ({:x1 72.828125,
                                   :y1 469.921875,
                                   :x2 261.58660888671875,
                                   :y2 485.921875,
                                   :width 790.0391208053691,
                                   :height 1117.3406005201343}),
                          :page 8},
               :content {:text "Podľa počtu nositeľov potrieb"},
               :properties {:color "yellow"}}
              {:id #uuid "68f76190-1617-46c9-870b-7f6e61a3d112",
               :page 8,
               :position {:bounding {:x1 95.109375,
                                     :y1 495.5,
                                     :x2 205.4385986328125,
                                     :y2 511.5,
                                     :width 790.0391208053691,
                                     :height 1117.3406005201343},
                          :rects ({:x1 95.109375,
                                   :y1 495.5,
                                   :x2 205.4385986328125,
                                   :y2 511.5,
                                   :width 790.0391208053691,
                                   :height 1117.3406005201343}),
                          :page 8},
               :content {:text "INDIVIDUÁLNE"},
               :properties {:color "yellow"}}
              {:id #uuid "68f76199-30a6-45be-9437-376904a31741",
               :page 8,
               :position {:bounding {:x1 95.109375,
                                     :y1 533.59375,
                                     :x2 193.19871520996094,
                                     :y2 549.59375,
                                     :width 790.0391208053691,
                                     :height 1117.3406005201343},
                          :rects ({:x1 95.109375,
                                   :y1 533.59375,
                                   :x2 193.19871520996094,
                                   :y2 549.59375,
                                   :width 790.0391208053691,
                                   :height 1117.3406005201343}),
                          :page 8},
               :content {:text "KOLEKTÍVNE"},
               :properties {:color "yellow"}}
              {:id #uuid "68f761a5-7132-4051-8597-766bfd4abba6",
               :page 8,
               :position {:bounding {:x1 72.828125,
                                     :y1 576.375,
                                     :x2 234.49952697753906,
                                     :y2 592.375,
                                     :width 790.0391208053691,
                                     :height 1117.3406005201343},
                          :rects ({:x1 72.828125,
                                   :y1 576.375,
                                   :x2 234.49952697753906,
                                   :y2 592.375,
                                   :width 790.0391208053691,
                                   :height 1117.3406005201343}),
                          :page 8},
               :content {:text "Podľa charakteru potrieb"},
               :properties {:color "yellow"}}
              {:id #uuid "68f761ae-792e-4d7c-930f-f4273d307dc2",
               :page 8,
               :position {:bounding {:x1 95.109375,
                                     :y1 601.84375,
                                     :x2 161.6223907470703,
                                     :y2 617.84375,
                                     :width 790.0391208053691,
                                     :height 1117.3406005201343},
                          :rects ({:x1 95.109375,
                                   :y1 601.84375,
                                   :x2 161.6223907470703,
                                   :y2 617.84375,
                                   :width 790.0391208053691,
                                   :height 1117.3406005201343}),
                          :page 8},
               :content {:text "HMOTNÉ"},
               :properties {:color "yellow"}}
              {:id #uuid "68f761b5-0e8a-4a5a-ac45-e3fecdd099d3",
               :page 8,
               :position {:bounding {:x1 95.109375,
                                     :y1 657.46875,
                                     :x2 181.90110778808594,
                                     :y2 673.46875,
                                     :width 790.0391208053691,
                                     :height 1117.3406005201343},
                          :rects ({:x1 95.109375,
                                   :y1 657.46875,
                                   :x2 181.90110778808594,
                                   :y2 673.46875,
                                   :width 790.0391208053691,
                                   :height 1117.3406005201343}),
                          :page 8},
               :content {:text "NEHMOTNÉ"},
               :properties {:color "yellow"}}
              {:id #uuid "68f761ce-4ffa-433f-81e0-8d34947c5040",
               :page 8,
               :position {:bounding {:x1 56,
                                     :y1 170,
                                     :x2 732,
                                     :y2 204,
                                     :width 790.0391208053691,
                                     :height 1117.3406005201343},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1761042892393},
               :properties {:color "red"}}
              {:id #uuid "68f761fd-1d00-463e-aeab-57242e2c447e",
               :page 8,
               :position {:bounding {:x1 56,
                                     :y1 865,
                                     :x2 732,
                                     :y2 896,
                                     :width 790.0391208053691,
                                     :height 1117.3406005201343},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1761042939923},
               :properties {:color "red"}}
              {:id #uuid "68f7620a-b4fe-4796-809d-46cdb014636b",
               :page 8,
               :position {:bounding {:x1 55,
                                     :y1 932,
                                     :x2 732,
                                     :y2 967,
                                     :width 790.0391208053691,
                                     :height 1117.3406005201343},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1761042953530},
               :properties {:color "red"}}],
 :extra {:page 9}}
